<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/> <!--有jdbc事务JDBC 有托管事务MANAGED-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://m1.kiibos.com:3316/pdc"/>
                <property name="username" value="root"/>
                <property name="password" value="example"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="com/kiibos/mysqljdbc/dao/CategoryMapper.xml"/>
    </mappers>

</configuration>